<!doctype html>
<html lang="en" ng-app="app">
<script type="text/javascript" src="jquery-3.1.1.min.js"></script>
<link rel = "stylesheet" type = "text/css" href = "style.css"/>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="">
<body ng-controller="controller" ng-init="getWeather()">
  <head>
     <title>Weather</title>
  </head>

    <h1>Search city, zip...</h1>
    <form action="index.html" method="get">
      <input type="text" name="search" placeholder="Search by city or zip"><br>
    </form>
    <br>
    <div id="city">{{city}}</div>
    <br>
   
    <div id="demo">
      <div id="leftcol">
        <p id="temp">{{main_temp}} &#176;<br></p>
      </div>
      <div id="icon"><img src={{main_img}}></div>
      <div id="rightcol">
        <p id="wind">Wind: {{wind}}mph<br></p>
        <p id="hum">Humidity: {{hum}}%<br></p>
        <p id="press">{{press}}</p>
      </div>
    </div>

    <div id="container">
      <button ng-repeat="val in five" ng-class="{'active': val == curr_act}" class="day" ng-click="newMain($index)">
        <p>{{val[2]}}</p>
        <img src={{val[0]}}><br>
        <p>{{val[1]}}&#176;</p>
      </button>
    </div>
    <script src="response.js"></script>
  </body>

</html>
