body{
    font-family: 'Source Sans Pro', sans-serif;
    background: #333333;
    text-align: center;
    font-size: 1.3em;
    color: ivory;
}
h1{
    margin-top: 10%;
    color: ivory;
    text-align: center;
}
form {
    margin: 0 auto;
    text-align: center;
}
input[type=text] {
    width: 15%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-color: white;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 30%;
}
#city {
    text-align: center;
    font-size: 1.3em;
    color: ivory;
}
#container {
    width: 636px;
    margin: 0 auto;
    margin-top: 30px;
}
#day0 {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 2px 2px;
    float: left;
}
.active{
    border: 1px solid #444444 !important;
}
#start{
    float: left;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 2px 2px;
}
#day1 {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 2px 2px;
    float: left;
}
#day2 {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 2px 2px;
    float: left;
}
#day3 {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 2px 2px;
    float: left;
}
#day4 {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 2px 2px;
    float: left;
}
#demo{
    margin: 0 auto;
    width: 530px;
    height: 150px;
}
#temp{
    display: block;
    float:left;
}
#icon{
    float: left;
}
#rightcol{
    float: left;
    width: 215px;
    text-align: right;
}
#leftcol{
    float: left;
    width: 215px;
    text-align: left;
}
p{
    margin-top: 0;
}
#max{
    float:left;
}
#temp{
    font-size: 3em;
    width: 100%;
}